﻿extends layout

block content
  h1 #{title}

  div#loginBox
    form(action='/users/register', method='POST')
        div
            input(type='text', id='username', name='username', placeholder='username')
        div
            input(type='password', id='password', name='password', placeholder='password')
        div
            input(type='email', id='email', name='email', placeholder='email')
        div
            input(type='submit', id='submit', value='Go')